# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Environment variables file
.env

# Static and media files
/staticfiles/
/media/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
